/* Navigation Styles */
.navbar {
  background-color: #333; 
  padding: 10px 0;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0px;
  display: flex; 
  justify-content: center; 
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff; 
  font-size: 22px;
  transition: color 0.3s ease; 

}

.nav-link:visited {
  color: #fff; 
}

.nav-link:hover {
 
  color:#007acc;
}

.right-align {
  margin-left: 1320px; 
}
