/* HomePage.css */

.home-container {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
    
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #333; /* Dark card background color */
    color: #fff; /* Card text color */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card a {
    text-decoration: none;
    background-color: #007acc; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .card a:hover {
    background-color: #005a9c; /* Hover background color */
  }
  